matplotlib==3.5.1
numpy==1.21.2
opencv_python==4.5.5.62
prefetch_generator==1.0.1
PyYAML==6.0
scipy==1.7.3
seaborn==0.11.2
tensorboardX==2.4.1
timm==0.5.4
torch==1.10.0
torchvision==0.11.0
tqdm==4.61.2
webcolors==1.11.1